@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  max-width: 100vw;
  width: 100%;
  max-height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}
.section-1{
  display: flex;
  align-items: center;
}
.section-2{
  margin: 0 40px;
}
.section-1-main-img{
  max-width: 100px;
  width: 100%;
  height: 100%;
}
.section-1-title{
  font-size: 36px;
  line-height: 42.19px;
}
.section-2-para{
  font-size: 24px;
  line-height: 28.13px;
}
.section-1-title, .section-2-para{
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/*Form*/
.meme-form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr; /*This creates 2 rows evenly spread apart as well as 2 columns*/
  grid-gap: 20px;
  margin: 30px 40px;
}
.meme-form-button{
  grid-column: 1 / -1; /*The element extends all the way from the 1st column to the last column*/ 
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.meme-form-input1, .meme-form-input2, .meme-form-button{
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}
.meme{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  max-height: 340px;
}

.meme-image{
  position: relative;
}

.meme--text{
  position: absolute;
    max-width: 375px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom{
  bottom: 0;
}

.top{
  top: 0;
}

/*Media Queries*/

@media (max-width: 785px){
  .section-1-title{
    font-size: 24px;
  }
  .section-2-para{
    font-size: 18px;
  }
}

@media (max-width: 630px){
  .section-2-para{
    display: none;
  }
  .section-1{
    margin: 0 auto;
  }
}

@media (max-width: 535px){
  .meme-form-input1, .meme-form-input2, .meme-form-button{
    width: calc(100% - 25px);
  }
  .meme-form, .meme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .meme-form{
    padding: 20px 0;
  }
}

@media (max-width: 440px){
  .section-1-title{
    text-align: center;
  }
  .section-1-main-img{
    display: none;
  }
}